<footer class="row mx-0 fixed-bottom">
    <div class="col small font-weight-light bg-dark text-light text-decoration-none">Icons made by <a href="https://www.flaticon.com/authors/simpleicon" class="text-white" target="_blank" title="SimpleIcon" rel="noopener noreferrer">SimpleIcon</a> from <a href="https://www.flaticon.com/" class="text-white" target="_blank" title="Flaticon" rel="noopener noreferrer">www.flaticon.com</a></div>
    <div class="col small font-weight-light bg-dark text-light text-decoration-none text-right">Copyright &copy; 2019 <a href="https://tribusk2.pl/" class="text-white" target="_blank" title="Visit: www.tribusk2.pl" rel="noopener noreferrer">TribusK2</a></div> 
</footer>