<footer class="row mx-0">
    <div class="col font-weight-light bg-dark text-light text-decoration-none">Icons made by <a href="https://www.flaticon.com/authors/simpleicon" class="text-white" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" class="text-white" title="Flaticon">www.flaticon.com</a></div>
</footer>