{% extends 'base.html.twig' %}

{% block title %}NBP API{% endblock %}

{% block body %}
    
    <div class="row justify-content-center mb-5 mx-0">
        <div class="col col-md-9">       
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Od</th>
                        <th scope="col">Do</th>
                        <th scope="col">Ask</th>
                        <th scope="col">Bid</th>
                    </tr>
                </thead>

                {% block tbody1 %}{% endblock %}

            </table>
        </div>
    </div>

    <!-- Result table -->
    <div class="row justify-content-center pb-5 mb-5 mx-0">
        <div class="col col-md-7">

                {% block table2 %}{% endblock %}

        </div>
    </div>
    <!-- Result table end -->
{% endblock %}